* {
  box-sizing: border-box;
}

body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 20px;
  margin: 10px auto;
  width: 500px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: 0px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 0px;
  margin: 40px 0 auto 375px;
  width: 225px;
  padding: 20px;

}